.navbar {
  background-color: #000000;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.logo {
  height: 60px; 
  width: auto;
}

.title {
  font-size: 25px; 
  font-weight: 600;
  color: white;
}
