/* Full page container */

body {
    background-color:rgb(0, 0, 0);
    color:white;
}

.login-form {
    background-color: #000000;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px; 

  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px; 
    padding: 20px;
  }
  
  /* Form title */
  .login-form h1 {
    margin-top: -10px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
.input-group {

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
.input-group label {
    color: #ffffff;
    margin-bottom: 6px;
    font-size: 14px;
  }
  
.input-group input {
    border: 2px solid #fff; 
    border-radius: 8px;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background-color: #000000;
    transition: all 0.3s ease;
    color:white;
  }
  
.divider {
    width: 2px;
    background-color: white;
    height: 600px;
  }


  
  /* Submit button */
.login-button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.login-button:hover {
    background-color: #959595;
  }


.welcome-section {
    color: white;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px; 
    gap: 20px;
  }
  
  .welcome-section h1 {
    margin: 0;            
    padding: 0;      
    font-size: 48px;
    font-weight: 800;                  
  
    background: linear-gradient(
      to right,
      indigo,
      lightblue,
      skyblue,
      fuchsia,
      skyblue,
      lightblue,
      indigo
    );
    background-size: 200% auto;       /* make gradient wider so it can animate */
    background-clip: text;
    -webkit-background-clip: text;    /* Safari/Chrome */
    color: transparent;               /* hide the text fill so gradient shows */
    -webkit-text-fill-color: transparent;
  
    animation: gradientMove 5s ease infinite;
  }
  
  @keyframes gradientMove {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .welcome-section p {
    font-size: 20px;     
    margin: 0;
    font-weight: 500;     
  }

  #sign-up-redirect{
    color: white;          
}

#sign-up-redirect:hover{
    color: rgba(217, 209, 209, 0.584);          
}


.new-user-redirect{
    display:flex;
    flex-direction:row;
    align-items: center;  
    gap: 8px;           
 
}